.footer {
  position: fixed;
  background-color: #337ab7;
  color: #FFF;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  a {
    margin-left: 5px;
    &:hover {
      text-decoration: underline;
    }
  }
}
